<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home page</title>
    <link rel="stylesheet" href="/css/styles.css" />

    <style>
      .table-container {
        padding: 15px 20px;
      }
      .title {
        font-size: 25px;
        font-weight: 600;
        padding-bottom: 10px;
      }
      table {
        border-collapse: collapse;
        width: 100%;
      }

      th,
      td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }

      tr:hover {
        background-color: #ccc;
      }
    </style>
  </head>

  <body>
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <% if(user){ %>
<a href="/create">Create User</a>
<% } %>
<% if(user){ %>

<a href="/logout">Logout</a>

<% } else { %>

<a href="/login">Login</a>

<% } %>
    </div>
    <div class="table-container">
        
      <div class="title">List User</div>
      <table>
        <tr>
          <th>ID</th>
          <th>Email</th>
          <th>Name</th>
          <th>City</th>
          <% if(user){ %><th>Action</th><% } %>
        </tr>
        

        <!-- <% for (let i = 0; i < listUsers.length; i++) { %>
    <tr>
          <td><%= listUsers[i].id %></td>
          <td><%= listUsers[i].email %></td>
          <td><%= listUsers[i].name %></td>
          <td><%= listUsers[i].city %></td>
          <td>
            <button>Edit</button>
            <button>Delete</button>
          </td>
        </tr>
    <% } %> -->

    <% listUsers.forEach(function(item) { %>
    <tr>
          <td><%= item.id %></td>
          <td><%= item.email %></td>
          <td><%= item.name %></td>
          <td><%= item.city %></td>
          <td>
            <% if(user){ %>
            <a href="/update/<%= item.id %>">Edit</a>
            <form action="/delete-user/<%= item.id %>" method="post">
            <button>Delete</button>
          </form>
          <% } %>
          </td>
        </tr>
 <% }) %>
       
      </table>
    </div>
  </body>
</html>
